<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/createjobstyle.css">
    <link rel="shortcut icon" href="../static/Logofinal.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Create A New Job</title>
</head>
<body>
    <nav>

        <div class="empty">
            
        </div>

        <div class="logo_name">
            
            <div class="logo">
                <a href="#" style="font-size:70px">LOGO</a>
            </div>
        </div>

            <div class="navbar">
                <a href="#">
                    <li>Login</li>
                </a>
                <a href="../views/index.html">
                    <li>Jobs</li>
                </a>
                <a href="#">
                    <li>New Job</li>
                </a>
            </div>
    </nav>
    <div  style="display: none;"><label  id="no_of_specs"></label></div>

    <div class="container_newjob">

        <label for="fname">1. Name of the Client:</label>
        <input type="text" id="cname" name="fname">
        <br><br>
        <label for="mname">2. Name of the Job:</label>
        <input type="text" id="jname" name="fname">
        <br><br>
          
        <label for="add">3. Date:</label>
        <input type="date" id="start" name="job-date" value="2000-01-01" min="2000-01-01" max="3000-12-31">
        <br><br>
        <label for="add">4. Quantity:</label>
        <input type="text" id="packing" name="fname">
        <br><br>
        <label for="add">5. Amount:</label>
        <input type="text" id="cost" name="fname">
        <br><br>

        <label for="lname">6. Specification:</label>
        <br><br>  

        <div class="specsbox">
            <ol type="a" id="speclist">
                <li>
                <!-- <input type="text" class="specnamestyle" id="spec1" onkeyup="recommend()" name="specname" value="" placeholder="Specification Name"> -->
                    <input type="text" class="specnamestyle" id="spec1" list="specnames" name="specname" value="" placeholder="Specification Name">
                    <input type="date" id="spec1" name="specdate" value="2000-01-01" min="2000-01-01" max="3000-12-31" placeholder="Specification Date">
                    <br>
                    <input type="text" id="spec1" name="speccompany" value="" placeholder="Company Name">
                    <input type="text" id="spec1" name="specdescription" value="" placeholder="Description">
                    <span id="hidethis"><button id="close" onclick="remove()"><img src="../static/x-square.svg" alt=""></button></span>
                    <input type="text" id="spec1" name="specquantity" value="" placeholder="Quantity">
                    <input type="text" id="spec1" name="specamount" value="" placeholder="Amount">
                </li>
            </ol>  
        </div>
        <datalist id="specnames">
            <option value="Printing"></option>
            <option value="Lamination"></option>
            <option value="Foiling"></option>
            <option value="Die Punching"></option>
            <option value="Back to back pesting"></option>
            <option value="Handcutting"></option>
            <option value="Spot U.V."></option>
            <option value="Centre Pinning"></option>
            <option value="Section Sewing Binding"></option>
            <option value="Perfect Binding"></option>
            <option value="Strip Gumming"></option>
            <option value="Varnishing"></option>
        </datalist>
        <div class="newspec"><button id="add_more_fields"><i class="fa fa-plus"></i>Add Specification</button></div>
        <button id="submitbtn" class="submit">Submit</button>
        </div>
    </div>

    <script src="../js/addrow.js"></script>
</body>
</html>