<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/createjobstyle.css">
    <link rel="shortcut icon" href="../static/Logofinal.jpg" type="image/x-icon">
    <title>Create A New Job</title>
</head>
<body>
    <nav>
        <div class="logo_name">
            
            <div class="logo">
                <a href="#"><img src="../static/Logofinal.jpg" alt="logo"></a>
            </div>

            <div class="tagline">
                <a href="#">
                <h2>
                    Project Job
                </h2>
                </a>
            </div>
            </div>

            <div class="navbar">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="../views/index.html">
                    <li>Jobs</li>
                </a>
                <a href="#">
                    <li>New Job</li>
                </a>

                <a href="#">
                    <li>Contact</li>
                </a>
            </div>
    </nav>

    <div class="container_newjob">

        <label for="fname">1. Name of the Client:</label>
        <input type="text" id="fname" name="fname">
        <br><br>
        <label for="mname">2. Name of the Job:</label>
        <input type="text" id="mname" name="fname">
        <br><br>
        <label for="lname">3. Specification:</label>
        <br><br>    

        <div class="specsbox">
        <label for="email">a. Paper:</label>
        <input type="text" id="email" name="fname">
        <br><br>
        <label for="Eid">b. Printing:</label>
        <input type="text" id="Eid" name="fname">
        <br><br>
        <label for="add">c. Lamination:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">d. Foiling:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">e. Die Punching:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">f. Backtoback Pesting:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">g. Half Cutting:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">h. Spot U.V.:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">i. Centre Pinning:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">j. Section Sewing Binding:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">k. Perfect Binding:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">l. Strip Gumming:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">m. Varnishing:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        </div>
        <label for="add">4. Quantity:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        <label for="add">5. Packing:</label>
        <input type="text" id="add" name="fname">
        <br><br>
        
        </div>

        <button class="submit">Submit</button>

    </div>

    
</body>
</html>